@model Shared.Models.Product

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CountUpdate">
            <input type="radio" value="0" name="durum" /> Artır
            <input type="radio" value="1" name="durum" /> Azalt
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Count'u Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="PriceUpdate">
            <input type="radio" value="0" name="durum" /> Artır
            <input type="radio" value="1" name="durum" /> Azalt
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Price'ı Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="AvailableUpdate">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Mevcudiyeti Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
